#top {
  background-color: black;
  width: 100%;
  height: 25px;
  display: flex;
  padding: 0 100px;
}

#top .topBarComponent {
  margin: 0 15px;
}

.pointer {
  cursor: pointer;
}

#top #time {
  font-size: 5px;
}

#top #link {
  text-decoration: none;
}

#logo {
  width: 100%;
  height: 130px;
}

#logo img {
  margin-left: 160px;
  margin-top: 50px;
}

#nav-container {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.226);
  padding: 0 120px;
}

#nav-container .nav-item {
  padding: 0 5px;
  font-size: 14px;
  font-weight: bold;
  margin: 0 2px;
}

#nav-container .nav-item:hover {
  border-bottom: 3px solid rgb(145, 188, 236);
}

#nav-container #searchImage {
  width: 20px;
}

#content {
  padding: 0 10%;
  margin-top: 50px;
}

#content .card {
  width: 65%;
  height: 650px;
  position: relative;
  border: none;
}

#content .card:hover {
  color: skyblue;
}

#content .card .about {
  width: 90%;
  height: 350px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 5%;
}

#content .card .about .heading {
  width: 95%;
  height: 80px;
  margin: 15px auto 0;
}

#content .card .about .author {
  width: 95%;
  height: 20px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

#content .card .about .author h6 {
  color: black;
}

#content .card .about .author p {
  color: grey;
  font-size: 12px;
}

#content .card .about .author img {
  position: absolute;
  right: 0;
  width: 20px;
}

#content .card .about .description {
  width: 95%;
  height: 180px;
  margin: 0 auto;
  padding: 20px 0;
}

#content .card .about .description p {
  color: grey;
}

footer {
  width: 100%;
  height: 615px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .col h5 {
  text-transform: uppercase;
  background-color: red;
}

footer .col .footerCard {
  width: 100%;
  height: 90px;
  display: flex;
}

footer .col .footerCard .footerCardInnerContent {
  margin-left: 5px;
  position: relative;
}

footer .col .footerCard .footerCardInnerContent .title {
  font-size: 13px;
  font-weight: bold;
}

footer .col .footerCard .footerCardInnerContent .date {
  font-size: 10px;
  color: grey;
  position: absolute;
}
