<footer>
  <div id="logosContainer" class="center flex">
    <img
      src="./images/KFC-Logo-Red.png"
      alt="KFC Logo"
      id="logo"
      class="pointer"
    />
    <div id="partition"></div>
    <div id="socialMedia">
      <p class="sans-serif">Find us on</p>
      <div id="icons" class="flex">
        <i class="fab fa-facebook-f flex center pointer"></i>
        <i class="fab fa-twitter flex center pointer"></i>
        <i class="fab fa-instagram flex center pointer"></i>
      </div>
    </div>
  </div>
  <div id="footerContentContainer" class="flex">
    <div class="content sans-serif">
      <h6>Information</h6>
      <ul>
        <li>About us</li>
        <li>Mitao Bhook</li>
        <li>Privacy Policy</li>
        <li>Careers</li>
      </ul>
    </div>
    <div class="content sans-serif">
      <h6>Locations</h6>
      <ul>
        <li>Contact us</li>
      </ul>
    </div>
    <div class="content sans-serif">
      <h6>Get in Touch</h6>
      <ul>
        <li>Terms & Conditions</li>
      </ul>
    </div>
    <div class="content sans-serif">
      <ul>
        <li><img src="./images/app_store.png" alt="app_store" /></li>
        <li><img src="./images/google_store.png" alt="google_store" /></li>
      </ul>
    </div>
  </div>
</footer>
