<div id="menu" class="center black_background">
  <a href="/"
    ><img
      src="./images/KFC-Logo-Red.png"
      alt="KFC Logo"
      id="logo"
      class="pointer"
  /></a>
  <div id="order" class="center flex pointer">
    <img src="./images/menu_order_tag.png" alt="order" />
    <h6>Start An Order for Delivery</h6>
  </div>
  <div id="login" class="sans-serif pointer">Register / Sign in</div>
  <div id="cart" class="center flex pointer">
    <h3>0</h3>
  </div>
  <div id="location" class="flex sans-serif pointer">
    <div id="map_pin">
      <img src="./images/map_pin.png" alt="map_pin" width="50px" />
    </div>
    <div id="text">
      <h3>Select Location &#9662;</h3>
      <p>Get accurate pricing and listing</p>
    </div>
  </div>
</div>
